<table class="table">
  <thead>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Date</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
      <tr>
        <td>todo</td>
        <td>
          <img src="<%= person.picture_url %>" width="40" height="40" />
          <%= person.name %>
        </td>
        <td><%= person.created_at %></td>
        <td><%= person.status %></td>
        <td>
          <a href="<%= person_path :id => person.id %>">view</a>
          <a href="<%= edit_person_path :id => person.id %>">edit</a>
          <a href="<%= make_ok_path :id => person.id %>">ok</a>
          <a href="<%= make_reject_path :id => person.id %>">rej</a>
          <a href="<%= make_new_path :id => person.id %>">new</a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>