<div id="team" class="thumbnail">
  <img alt="" src="<%= person.safe_picture_url %>" style="height: 160px" />
  <div class="caption">
    <h5>
      <a href="<%= person_path :id => person.id %>"><%= person.name %>&nbsp<small>(<%= person.votes.count %>)</small></a>
    </h5>

    <% if links %>
    <div class="social">
      <ul class="unstyled">
        <% if person.fb_url? %>
            <li><a class="facebook" href="<%= person.fb_url %>"><i class="icon-facebook-sign"></i></a></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>