<%= form_for @person, validate: true do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="inline" style="float:right">
  <div>
      <%= image_tag 'default-user-image.png', :id => 'person_image', :style => 'width: 200px; height: 200px' %>
  </div>
  <div class="field">
      <%= f.text_field :picture_url, :placeholder => 'URL catre poza', :style => 'width: 187px' %>
  </div>
 </div>
 <br/>
  <div class="field inline">
    <%= f.text_field :first_name, :placeholder => 'Prenume' %>
  </div>
  <div class="field inline">
    <%= f.text_field :last_name, :placeholder => 'Nume' %>
  </div>
  <div class="field padding-top">
    <%= f.text_field :fb_url, :placeholder => 'Pagina Facebook' %>
  </div>
  <div class="field">
    <%= f.text_field :linkedin_url, :placeholder => 'Pagina LinkedIn' %>
  </div>

 <div class="field padding-top">
     <%= f.text_area :description, :placeholder => 'Scurta descriere' %>
 </div>

 <div class="field padding-top inline" style="display: none">
     <%= f.label :opening_ids, "Pozitii pentru care persoana este propusa: " %>
     <%= f.collection_select :opening_ids, Opening.all, :id, :name, {}, {:multiple => true, :style=>'width: 100%'} %>
 </div>
  <div class="actions inline" style="padding-top: 20px; float: right">
    <%= f.submit 'Propune', :class => 'btn btn-primary' %>
  </div>
<% end %>
