<div id="header">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h1><%= @person.name %>
          <small><%= @person.votes.count %> voturi</small>
        </h1>

        <div>
          <h4>Despre</h4>

          <p><%= @person.description %></p>
        </div>
        <div class="social">
          <p>Pagini:
          <% if @person.fb_url? %>
              <a href="<%= @person.fb_url %>">facebook</a>
          <% end %>
          <% if @person.linkedin_url? %>
                <a href="<%= @person.linkedin_url %>">linkedin</a>
          <% end %>
          </p>
        </div>
        <div>
          <h4>Pozitia</h4>

          <ul>
            <% @person.openings.each do |op| %>
                <li><%= op.name %> - <%= Vote.where(:person => @person, :opening => op).count %> voturi</li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="span3">
        <a href class="thumbnail">
          <img src="<%= @person.safe_picture_url %>"/>
        </a>
      </div>
    </div>
  </div>
</div>

<p id="notice" class="txt-middle"> <%= notice %> </p>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
          <% if user_signed_in? %>
           <% if current_user.votes.exists?(:person => @person) %>
              <%= link_to 'Renunta la vot', current_user.votes.find_by(:person => @person), :method => :delete, data: { confirm: 'Are you sure?', :remote => true }, :class => 'btn btn-danger', :remote => true %>
            <% else %>
              <%= form_for Vote.new do |f| %>
               <%= f.hidden_field :person_id, :value => @person.id %>
                <div class="inline">
                    <h5>Votează</h5>
                </div>
                <div class="field padding-top inline">
                    <%= f.collection_select :opening_id, @person.openings, :id, :name, :prompt => 'Pentru pozitia' %>
                </div>
                <div class="field padding-top">
                    <%= f.text_area :comment, :placeholder => 'Motivatie' %>
                </div>
                <div class="actions inline" style="padding-top: 20px; float: right">
                    <%= f.submit 'Votează', :class => 'btn btn-primary' %>
                </div>
                <% end %>
            <% end %>
        <% else %>
            <div class="txt-middle">
              <p>Te rugam sa te loghezi cu contul de Facebook pentru a vota!</p>
              <br/>

              <p>O data logat vei avea dreptul la maxim 5 voturi.</p>
              <br/>
            </div>
            <%= link_to '', user_omniauth_authorize_path(:facebook), :class => 'fb-login-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>