<div id="header">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h1><%= @person.name %>
          <small><%= @person.votes.count %> voturi</small>
        </h1>

        <div class="caption">
          <h4>Despre</h4>

          <p><%= @person.description %></p>

          <div class="social">
            <ul class="unstyled">
              <% if @person.fb_url? %>
                  <li>
                    <a class="facebook" href="<%= @person.fb_url %>"><i class="icon-facebook-sign"></i></a>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div>
          <h4>Propus pentru:</h4>

          <ul>
            <li>Opening - 5 voturi</li>
            <li>Opening - 5 voturi</li>
            <li>Opening - 5 voturi</li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <img src="<%= @person.safe_picture_url %>"/>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
          <h5>Votează</h5>
          <%= form_for Vote.new do |f| %>
           <%= f.hidden_field :person_id, :value => @person.id %>
           <div class="field padding-top">
               <%= f.text_area :comment, :placeholder => 'Motivatie' %>
           </div>
           <div class="field padding-top">
               <%= f.collection_select :opening_id, @person.openings, :id, :name, :prompt => 'Pentru pozitia' %>
           </div>
           <div class="actions inline" style="padding-top: 20px; float: right">
               <%= f.submit 'Votează', :class => 'btn btn-primary' %>
           </div>
         <% end %>
      </div>
    </div>
  </div>
</div>