<!DOCTYPE html>

<html lang="en">
<head>
    <title>Nominalizez pe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

 <div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
         <div class="container">
             <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </a>
             <a class="brand" href="/">Nominalizez.pe</a>

             <div class="nav-collapse collapse">
                 <ul class="nav pull-right">
                     <li class="active"><a href="#">Propune</a></li>
                     <li></li>
                     <li><a href="#">Vezi lista</a></li>
                     <li><a href="#">Termeni</a></li>
                     <li></li>
                 </ul>
             </div>
         </div>
     </div>
 </div>

 <%= yield %>


 <div id="copywrite">
     <div class="container">
         <div class="row">
             <div class="span12">
                 <p>&copy; 2015 Nominalizez.pe
                     <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up"></i></span></p>
             </div>
         </div>
     </div>
 </div>
</body>
</html>
